{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<div dir="rtl">
<div class="container">
    <div class="signup">

        <div class="col-md-8" >
            <form method="POST" enctype="multipart/form-data">
                <h4 class="auth-header"> احجز ميعاد ...</h4>

                {% csrf_token %}
                <div class="form-group">
                    {{ form.name|as_crispy_field  }}
                </div>
                <div class="form-group">
                    {{ form.number|as_crispy_field  }}
                </div>
                <div class="form-group">
                    {{ form.email|as_crispy_field  }}
                <div class="form-group">
                    {{ form.Receipt|as_crispy_field  }}
                </div>

            
                <div class="buttons-w  "><button type="submit" class="btn btn-danger ml-5">احجز</button>
            </div>
            </form>
        </div>
    </div>

</div>
</div>
{% endblock body %}