{%extends 'base.html'%}

{% load static %}

{% block body %}

<div dir="rtl">
{% include 'user/search.html' %}
<div class="job_details_area">
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="job_details_header">
                <div class="single_jobs white-bg d-flex justify-content-between">
                    <div class="jobs_left d-flex align-items-center">
                        <div >

                                {% if doctor_detail.image %}
                                <img class="img-circle" src="{{doctor_detail.image.url}}" alt="" width="100" height="100">
                                {% endif %}

                        </div>
                        <div class="jobs_conetent">
                            <a href="#" ><h4>{{doctor_detail.name}}</h4></a>
                            <div class="links_locat d-flex align-items-center">
                                <div class="location">
                                    <p> <i class="fa fa-map-marker"></i> مصر  , {{doctor_detail.address}}</p>                                </div>
                                <div class="location">
                                    <p> <i class="fa fa-clock-o"></i>  وقت الانتظار {{doctor_detail.Waiting_hours}} دقيقه</p>                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobs_right">
                        <div class="apply_now">
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="descript_wrap white-bg">
                <div class="single_wrapp">
                    <h3>{{doctor_detail.subtitle}}</h3>
                </div>
                <div class="white-card white-card-inner">
                    <div class="single_wrap" style="margin-top: 10px;">
                        <h4>معلومات عن الدكتور</h4>
                        <ul>
                            <p>{{doctor_detail.who_i}}</p>                        </ul>
                    </div>
                </div>
                <div class="single_wrap">
                    <h4>خدمات الدكتور :</h4>
                    <ul>
                        <li>{{doctor_detail.who_i}}</li>
                    <br>
                </div>
                <div class="single_wrap">
                



                </div>
            </div>

    <!-- comments -->
    <div class="section-row">
        <div class="section-title">
            <h2 style="color: brown;">التعليقات (  )</h2>
        </div>

        <div class="post-comments" >

            <!-- comment -->
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="img/avatar.png" alt="">
                </div>
                <div class="media-body " >
                    <div class="media-heading">
                        <h4>اسم الكاتب</h4>
                        <span class="time">تم التعليق في </span>
                    </div>
                    <p>الكومنتات</p>
                    <a href="#" class="reply">الردود ..</a>

                    <!-- comment -->
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="" alt="">
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <h4>مهاب محمد ابو المجد </h4>
                                <span class="time">تم التعليق فى </span>
                            </div>
                            <p>شكرا جدا واتمنى ان تتصفح باقي المواضيع .....</p>
                        </div>
                    </div>
                    <!-- /comment -->
                </div>
            </div>
            <!-- /comment -->

            <div class="media-heading">
                <h4>لا يوجد تعليقات حتى الأن ..</h4>
            </div>

        </div>
    </div>
    <!-- /comments -->
    <div class="apply_job_form white-bg">
        <h4>إترك تعليقك</h4>
        <form method="POST" >

            <div class="row">
                <div class="col-md-6">
                    <div class="input_field">
                        <input type="text"  placeholder=" الإسم">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input_field">
                        <input type="text"  placeholder=" الإيميل">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input_field">
                        <textarea  cols="30" rows="10" placeholder="تعليقك .."></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="submit_btn">
                        <button class="boxed-btn3 w-100" type="submit">تعليق</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
        </div>
        <div class="col-lg-4">
            <div class="job_sumary">
                <div class="summery_header">
                    <h3>معلومات عن الدكتور </h3>
                </div>
                <div class="job_content">
                    <ul>
                    <li>  انضم إلينا : <span style="color: blue;">{{doctor_detail.join_us|date}}</span></li>
                    <li> الكشف : <span style="color: blue;">{{doctor_detail.price}} جنية</span></li>
                    <li> رقم الهاتف  : <span style="color: blue;">{{doctor_detail.number_phone}}</span></li>
                    <li>عدد ساعات العمل : <span style="color: blue;">{{doctor_detail.working_hours}} ساعات</span></li>
                    </ul>

                </div>
            </div>
            <div class="share_wrap d-flex">
                <span>شارك الصفحه :</span>
                <ul>
                    <li><a href="{{doctor_detail.facebook}}"> <i class="fa fa-facebook"></i></a> </li>
                    <li><a href="{{doctor_detail.google}}"> <i class="fa fa-google-plus"></i></a> </li>
                    <li><a href="{{doctor_detail.twitter}}"> <i class="fa fa-twitter"></i></a> </li>
                    <li><a href="{{doctor_detail.facebook}}"> <i class="fa fa-envelope"></i></a> </li>
                </ul>
            </div>
            <div class="job_location_wrap">
                <div class="job_lok_inner">
                    <div id="map" style="height: 200px;"></div>
                    <script>
                        function initMap() {
                        var uluru = {lat: -25.363, lng: 131.044};
                        var grayStyles = [
                            {
                            featureType: "all",
                            stylers: [
                                { saturation: -90 },
                                { lightness: 50 }
                            ]
                            },
                            {elementType: 'labels.text.fill', stylers: [{color: '#ccdee9'}]}
                        ];
                        var map = new google.maps.Map(document.getElementById('map'), {
                            center: {lat: -31.197, lng: 150.744},
                            zoom: 9,
                            styles: grayStyles,
                            scrollwheel:  false
                        });
                        }

                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap"></script>

                    </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}

<!-- link that opens popup -->
<!-- JS here -->

