{% extends 'base.html' %}
{% load static %}
{% block body %}

<div dir="rtl">
<div class="job_listing_area">
<div class="container">
{% for request in requests %}
<div class="job_lists" style="margin-top: 100px;">
<div class="row">
<div class="col-lg-5 col-md-5" style="height: 16rem;margin-right: 15rem;" >
<div class="single_jobs white-bg d-flex justify-content-between">
    <div>
        <h3>الإسم : <h4 style="color: blue;">{{request.name}}</h4></h3>
        <h3>رقم الهاتف : <h4 style="color: blue;">{{request.number}}</h4></h3>
        <h3>البريد الاليكترونى : <h4 style="color: blue;">{{request.email}}</h4></h3>
        <h3>رقم الايصال   : <h4 style="color: blue;">{{request.Receipt}}</h4></h3>
        <h3> حاله الطلب :
        <a class="btn btn-block btn-success" href="{% url 'accounts:requests_delete' request.id %}">تمت الحجز</a>
    </h3>
    </div>
</div>
</div>
</div>
</div>
{% empty %}
<div class="media-heading " style="margin-top: 11rem;">
    <h4>لا يوجد طلبات حاليا ..</h4>
</div>
{% endfor %}

</div>
</div>
    <!-- job_listing_area_end  -->
</div>

{% endblock body %}